// Colors
$black: #2E2E2E;
$green: #00EBAB;
$grey: #979797;
$blue: #05E3F5;
$orange: #f7b589;
$white: #FFFFFF;
$dark: #323232;
$blue-button: #05e3f5;
$sky-blue: #00cec3;
$dusk: #f7b589;
$red: #FE5A59;
$font-size-icon: 22px;

// Header
$header-height: 81px;
$search-height: 83px;
